/* GLOBAL STYLES */
html {
  font-size: 18px;
  font-family: helvetica;
  font-weight: lighter;
  background: white;
}

body {
  margin: 4% auto;
  width:90%;
  border: 2px solid rgb(71, 96, 101);
  background: rgb(162, 199, 205);
}

header {
  margin:2%;
}

footer {
  margin:2%;
}

p {
  margin:1%;
  font-size: 1.1rem;
  font-weight: normal;
  opacity: 0.9;
  margin-bottom: 2%;
  color: rgb(71, 96, 101);
}

input {
  width:50%;
  border-radius: 10%;
}

.blocks {
  margin:1%;
  border: 1.3px solid white;
  background:rgb(237, 242, 242);
}

.labels {
  width:45%;
  display: inline-block;
  margin-left: 2%;
  margin-bottom: 1%;
  color: rgb(71, 96, 101);
}

.inputs {
  width:45%;
  display: inline-block;
  margin-bottom:1%;
}

textarea {
  margin-left: 2%;
  margin-bottom: 2%;
  margin-top: 0.6%;
  width:50%;
  height:100px;
  /* display: inline; */
}

body h1 {
  color: rgb(71, 96, 101);
  font-weight: lighter;
  text-transform:uppercase;
  font-family: helvetica;
  font-size: 4rem;
  }

#description {
  font-size: 0.93rem;
  margin:0.5%;
  margin-top: -0.5%;
  color: rgb(71, 96, 101);
}

#button {
  position:relative;
  left:85%;
  color:white;
  border:1px solid white;
  background:rgb(71, 96, 101);
  width:100px;
}

/* RESPONSIVE */

@media only screen and (min-width:1050px) {

/* BLOCKS POSITIONING */
  p {
    margin-bottom: 3%;
  }

  .labels {
    font-size: 0.9rem;
  }

  #info {
    width:47.6%;
    height: 150px;
    float:left;
  }

  #info2 {
    width:47.6%;
    height: 150px;
    float:left;
  }

  #info3 {
    width:31%;
    float:left;
    height: 250px;
  }

  #info4 {
    width: 31%;
    float: left;
    height: 250px;
  }

  #info5 {
    width: 31%;
    float: left;
    height: 250px;
  }

  #info6 {
    clear: both;
  }
}

@media only screen and (max-width:530px) {
  html {
    font-size: 10px;
  }

  header {
    text-align: center;
    margin: 0 auto;
  }
  input {
    width: 90%;
  }

  #button {
    left: 40%;
  }

  textarea {
    width: 90%;
    height: 50px;
  }
}

@media only screen and (max-width:980px) {
  html {
    font-size: 14px;
  }

  .inputs {
    margin-left:0;
  }

  #button {
   left: 60%;
  }

}
